/** ICONS **/

$i-arrow-left-circle: "\e900";
$i-arrow-left: "\e901";
$i-arrow-right-circle: "\e902";
$i-arrow-right: "\e903";
$i-bookmark: "\e904";
$i-briefcase: "\e905";
$i-calendar-full: "\e906";
$i-chart-bars: "\e907";
$i-checkmark-circle: "\e908";
$i-chevron-down: "\e92c";
$i-chevron-left-circle: "\e909";
$i-chevron-left: "\e90a";
$i-chevron-right-circle: "\e90b";
$i-chevron-right: "\e90c";
$i-chevron-up-circle: "\e90d";
$i-chevron-up: "\e90e";
$i-code: "\e90f";
$i-cog: "\e910";
$i-cross: "\e911";
$i-earth: "\e912";
$i-envelope: "\e913";
$i-file-empty: "\e914";
$i-heart: "\e915";
$i-home: "\e916";
$i-inbox: "\e917";
$i-laptop-phone: "\e918";
$i-laptop: "\e919";
$i-link: "\e91a";
$i-list: "\e91b";
$i-map-marker: "\e91c";
$i-menu: "\e91d";
$i-mic: "\e91e";
$i-picture: "\e91f";
$i-plus-circle: "\e920";
$i-store: "\e921";
$i-text-align-justify: "\e922";
$i-thumbs-down: "\e923";
$i-thumbs-up: "\e924";
$i-trash: "\e925";
$i-undo: "\e926";
$i-user: "\e927";
$i-users: "\e928";
$i-volume-low: "\e929";
$i-volume-medium: "\e92a";
$i-volume: "\e92b";
